

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contact {
  text-align: center;
  transition: transform 0.5s ease;
  padding: 10px;
}

.contact:first-child,
.contact:last-child {
  cursor: pointer;
}

.contact:last-child:hover a,
.contact:first-child:hover a {
  color: var(--color-gold-1);
  transition: color 0.2s ease;
}

.contact:first-child:hover img,
.contact:last-child:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.contact a {
  text-decoration: none;
  color: #000;
  transition: color 0.2s ease;
}

.contact img {
  width: 80px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}
