


.container {
  display: flex;
}

.container img {
  height: 70px;
  margin-right: 5px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title span {
  color: #fff;
}